################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BachatBuddy/x64/Debug
/BachatBuddy.sln
